<div class="logsWrapper header">
	<a class="topNav" href="/"><h1>Timesheet</h1></a>
	<a class="topNav" href="/#timeline"><h1>Timeline</h1></a>
	<a class="topNav" href="/#new"><h1>New Log</h1></a>	
	<p class="left">{{TotalLog}} Logs</p>
</div>

<div class="timeline">
	<p class="oldest">{{OldestLog}}</p>
	<p class="newest">{{NewestLog}}</p>
	
</div>

<div class="note">
	<!--<p>Backbone.js + jQuery + Handlebars</p>-->
	<!--<p>Based on design by XXIIVV</p>-->
</div>